body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;

}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.header {
	background-color: #056DAE;
	padding: 30px;
	margin-bottom: 20px;
}

.container {
	text-align: center;
	overflow: unset;
  box-sizing: border-box;
}
